* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Header Section */

.header {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    height: 71px;
    justify-content: space-between;
    align-items: center;
    margin: 25px auto 115px;
}

.header-logo img {
    width: 80px;
    height:50px;
    margin-bottom: 15px;
   
}

.header-nav ul li {
    list-style: none;
}

.header-nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.0125em;
    font-weight: bolder;
}

.header-nav ul {
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
}
.header-nav-card {
    display: flex;
    align-items: center;
}

.header-nav-card img {
    width: 30px;
    height: 30px;
}


/* Main section */

/* Section-1 [Fresh Flower] */

.main-fresh-flower {
    display: flex;
    max-width: 1140px;
    max-height: 461px;
    margin: 115px auto;
    align-items: end;
}

.main-fresh-flower .text h1 {
    font-size: 5rem;
    margin-bottom: 0px;
  }

  span {
    color: orange
  }

  /* Our plant section */
.Our-plants-text {
    text-align: center;
    max-width: 1140px;
    margin: 0px auto;
}

.Our-plants-text .plant-p {
    text-align: center;
    margin: 0px 126px;
}



/* Image grid container */
.image-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    max-width: 1140px;
    margin: 115px auto;
}

.container-1 img {
    width: 100%;
    height: 300px;
}
.container-1 .text {
    width: 100%;
    height: 130px;
    text-align: center;


}

.container-1 .text h4 {
  margin: 0 0 4px 0;
  font-size: 18px;
}

.container-1 .text p {
  margin: 0 0 0 0;
  font-weight: bold;
}

.container-1 .text button {
  margin: 0;
  width: 100%;
  font-weight: bolder;
  padding: 6px 12px;
  font-size: 14px;
  background-color: orange;
  font-size: 20px;
  color: white;
  border: none;
}



/* Lover section */
.lover-section {
    display: flex;
    max-width: 1140px;
    height: 550px;
    margin: 0px auto;
    gap: 50px;
}

.lover-section .text {
    padding: 10px 0px 0px 10px;
    width: 590px;
    height: 550px;
}
.lover-section .text h1 {
    text-align: left;
    margin: 0px;
    font-size: 48px;
}
.lover-section .text li {
    text-align: left;
    margin: 50px 0px;
    text-align: justify;
}

.lover-section .lover-img img {
    width: 100%;
    height:100%;
}


/* Trusted badge */

.trusted-logo {
    max-width: 1140px;
    margin: 0px auto;
    position: relative;
    bottom: 620px;
    left: 380px;
    z-index: 3;
}



  /* Latest deal  */
.latest-deal {
    text-align: center;
    max-width: 1140px;
    margin: 0px auto;
}

.latest-deal .plant-p {
    text-align: center;
    margin: 0px 126px;
}




/* Three image section */

.three-img {
    display: flex;
    max-width: 1140px;
    margin: 0px auto;
    border-radius: 10px;
    gap: 20px;
    border-radius: 10px;
}

.two-img {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 10px;
}




.discount-container-1 {
    width: 367px;
    height: 201px;
    position: relative;
}

/* img-1 & text-1 */
.discount-container-1 img {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    border-radius: 10px;
}
.discount-container-1 .text-1 {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: rgb(221, 233, 2);
        font-weight: bolder;
        font-size: 1.125rem;
}

/* img-2 & text-2 */

.discount-container-2 {
    width: 367px;
    height: 201px;
    position: relative;
}
.discount-container-2 img {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    border-radius: 10px;
}
.discount-container-2 .text-2 {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: rgb(221, 233, 2);
        font-weight: bolder;
        font-size: 1.125rem;
}

/* img-3 & text-3 */

.discount-container-3 {
    position: relative;
}
.discount-container-3 img {
    filter: brightness(50%);
    border-radius: 10px;
}
.discount-container-3 .text-3 {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 2rem;
        color: rgb(221, 233, 2);
        font-weight: bolder;
}


/* Search Section */

.search-section {
    max-width: 1310px;
    margin: 0px auto;
}

.search-section {
    position: relative;
}
.search-section img {
    filter: brightness(50%);
    border-radius: 10px;
    height: 500px;
    display: flex;
}
.search-section .text-3 {
    position: absolute;
    top:25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}
.search-section input {
    width: 500px;
    height: 50px;
    padding: 5px;
    font-size: 1.125rem;
    border: none;
    margin-right: 0px;
}

.search-section button {
    width: 110px;
    height: 50px;
    padding: 5px;
    font-size: 1.125rem;
    margin-left: 0px;
    border: none;
    background-color: orange;
}


/* Footer section */

.footer {
    display: grid;
    grid-template-columns: 1.5fr 1.25fr 1.25fr 1.5fr;
    justify-content: center;
    align-items: start;
    gap: 10px;
    margin-top: 20px;
    max-width: 1140px;
    margin: 0px auto;
}

.footer ul li {
    list-style: none;
    margin-bottom: 15px;
}

.footer ul a {
    text-decoration: none;
    color: black;
}

.footer .col-4, .col-1 {
    margin-top: 15px;
    margin-left: 20px;
}
.footer .col-4 {
    display: flex;
    gap: 10px;
}





















/* Responsive for Small device */

@media screen and (max-width:576px) {
    .header {
    display: flex;
    justify-content: space-between;
    max-width:100vw;
    height: 71px;
    justify-content: space-between;
    align-items: center;
    margin: 25px auto 115px;
}

.header-logo img {
    width: 80px;
    height:50px;
    margin-bottom: 15px;
   
}

.header-nav ul li {
    list-style: none;
}

.header-nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.0125em;
    font-weight: bolder;
}

.header-nav ul {
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
}
.header-nav-card {
    display: flex;
    align-items: center;
}

.header-nav-card img {
    width: 30px;
    height: 30px;
}

.list-hidden {
    display: none;
}


/* Section-1 [Fresh Flower] */

.main-fresh-flower {
    display: flex;
    flex-direction: column-reverse;
    max-width: 100vw;
    max-height: 461px;
    margin: 115px auto;
    align-items:center;
}

.main-fresh-flower .text h1 {
    font-size: 3rem;
    margin-bottom: 0px;
    text-align: left;
  }
  .main-fresh-flower .text p {
    text-align: justify;
  }

  span {
    color: orange
  }

  .main-fresh-flower .img {
    font-size: 3rem;
    margin-bottom: 0px;
    width: 100%;
  }
   .main-fresh-flower img {
    width: 100%;
    height: 100%;
    padding: 2px;
  }


  /* Our plant section */
.Our-plants-text {
    text-align: center;
    max-width: 100vw;
    margin: 0px auto;
}

.Our-plants-text .plant-p {
    text-align: center;
    margin: 0px;
    
}


/* Image grid container */
.image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1140px;
    margin: 115px auto;
}

.container-1 img {
    width: 100%;
    height: 300px;
}
.container-1 .text {
    width: 100%;
    height: 130px;
    text-align: center;


}

.container-1 .text h4 {
  margin: 0 0 4px 0;
  font-size: 18px;
}

.container-1 .text p {
  margin: 0 0 0 0;
  font-weight: bold;
}

.container-1 .text button {
  margin: 0;
  width: 100%;
  font-weight: bolder;
  padding: 6px 12px;
  font-size: 14px;
  background-color: orange;
  font-size: 20px;
  color: white;
  border: none;
}



/* Lover section */
.lover-section {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    height: 550px;
    margin: 20px auto;
    gap: 5px;
}

.lover-section .text {
    padding: 10px;
    width: 95vw;
    height: 550px;
}
.lover-section .text h1 {
    text-align: left;
    margin: 0px;
    font-size: 48px;
}
.lover-section .text li {
    text-align: center;
    margin:5px;
    padding: 5px;
    text-align: justify;
}

.lover-section .lover-img img {
    width: 100%;
    height:100%;
}


/* Trusted badge */

.trusted-logo {
    display: none;
}


  /* Latest deal  */
.latest-deal {
    text-align: center;
    width: 100vw;
    margin-top: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding: 0 10px; 
}



/* Three image section */

.three-img {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    border-radius: 10px;
    gap: 20px;
    border-radius: 10px;
    align-items: center;
}

.two-img {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 10px;
    align-items: center;
}


.discount-container-1 {
    width: 367px;
    height: 201px;
    position: relative;
}

/* img-1 & text-1 */
.discount-container-1 img {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    border-radius: 10px;
}
.discount-container-1 .text-1 {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: rgb(221, 233, 2);
        font-weight: bolder;
        font-size: 1.125rem;
}

/* img-2 & text-2 */

.discount-container-2 {
    width: 367px;
    height: 201px;
    position: relative;
}
.discount-container-2 img {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    border-radius: 10px;
}
.discount-container-2 .text-2 {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: rgb(221, 233, 2);
        font-weight: bolder;
        font-size: 1.125rem;
}

/* img-3 & text-3 */

.discount-container-3 {
    position: relative;
}
.discount-container-3 img {
    width: 90vw;
    filter: brightness(50%);
    border-radius: 10px;
}
.discount-container-3 .text-3 {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 1.125rem;
        color: rgb(221, 233, 2);
        font-weight: bolder;
}


/* Search Section */

.search-section {
    display: grid;
    
}

.search-section {
    position: relative;
}
.search-section img {
    width: 90vw;
    height: 250px;
    filter: brightness(50%);
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}
.search-section .text-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.125rem;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}


 .search-section .form-input {
    display: flex;
 }

.search-section input {
    width: 200px;
    height: 20px;
    padding: 2px;
    font-size: small;
    border: none;
    margin-right: 0px;
}

.search-section button {
    width: 90px;
    height: 20px;
    padding: 2px;
    margin-left: 0px;
    border: none;
    background-color: orange;
    font-size: small;
}



/* Footer section */

.footer {
    display: grid;
    grid-template-columns: 1fr ;
    gap: 10px;
    margin-top: 50pxpx;
    max-width: 1140px;
    margin: 0px auto;
}

.footer ul li {
    list-style: none;
    margin-bottom: 15px;
}

.footer ul a {
    text-decoration: none;
    color: black;
}

.footer .col-1 {
    padding: 20px;
}

.footer .col-4, .col-1 {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.footer .col-4 {
    display: flex;
}

.form-input input, button {
    display: none;
}

}